{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container">
    <h1>Home Page</h1>
    <!-- TODO: Ostylować tą stronę-->

    <form action="{{ path('copyData') }}" method="post">
        <div class="multiselect">
            <div class="selectBox">
                <select class="form-control">
                    <option>Select columns from mariaDB Engine</option>
                </select>
                <div class="overSelect"></div>
            </div>
            <div id="checkboxes">
                {% for key, columnName in columns %}
                    <div class="form-check">
                        <input name="columns[]" type="checkbox" class="form-check-input" value="{{ columnName }}" id="checkbox{{ key }}" />
                        <label class="form-check-label" for="checkbox{{ key }}">{{ columnName }}</label>
                    </div>
                {% endfor %}

            </div>
        </div>

        <button class="btn btn-outline-primary my-3">Copy</button>
    </form>
</div>


{% endblock %}