{% extends 'base.html.twig' %}

{% block title %}MariaDB Items{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert text-center alert-success mt-5">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="text-center my-5">MariaDB items</h1>
        <nav>
            <ul class="pagination justify-content-center">
                {% for i in 1..10 %}
                    <li class="page-item {% if i == currentPage %} active {% endif %} ">
                        <a class="page-link" href="{{ path('mariadb', {page: i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{ row['id'] }}</td>
                        <td>{{ row['Name'] }}</td>
                        <td>{{ row['Age'] }}</td>
                        <td>{{ row['City'] }}</td>
                        <td class="d-flex">
                            <form action="{{ path('loadMariaDBEditView', {id: row['id'], page: currentPage}) }}">
                                <input type="hidden" name="page" value="{{ currentPage }}">
                                <button class="btn btn-primary">Edit</button>
                            </form>
                            <form class="ml-3" action="{{ path('mariaDBDeleteRow', {id: row['id'], page: currentPage}) }}" method="post">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
