{% extends 'base.html.twig' %}

{% block title %}ClickHouse Items{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-5">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="text-center my-5">ClickHouse items</h1>
        <nav>
            <ul class="pagination justify-content-center">
                {% for i in 1..10 %}
                    <li class="page-item {% if i == currentPage %} active {% endif %} ">
                        <a class="page-link" href="{{ path('clickhouse', {page: i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row['id'] }}</td>
                    <td>{{ row['Name'] }}</td>
                    <td>{{ row['Age'] }}</td>
                    <td>{{ row['City'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
